/* --------------------------头部部分------------------------- */
/* 顶部标题 */
.beijing .am-icon-chevron-left {
	color:#fe3360;
}

/* --------------------------中间内容------------------------- */
/* 头像部分*/
.toux{
	width: 100%;
	background-color: #ff2c4c;
	text-align: center;
	padding-top: 10px;
}
.toux img{
	border-radius: 50px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
}
.toux p{
	text-align: center;
	line-height: 50px;
}
.toux p a{
	background: #d82640;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
}

/* 余额/积分/优惠券 */
.naver {
	width: 94%;
    margin: 10px 3%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
}
.naver:nth-of-type(1) li{
	width: 33%;
	float: left;
	border-right:1px solid #ddd;
	text-align: center;
	margin: 10px 0;
}
.naver:nth-of-type(1) li:nth-last-of-type(1){
	border:none;
}
.naver:nth-of-type(1) li a p:nth-of-type(1){
	color: #ff2c4c;
	font-size: 15px;
}
.naver:nth-of-type(1) li a p:nth-of-type(2){
	font-size: 15px;
}

/* 钱包/服务地址 */
.naver img{
	width: 30px;
	height: 31px;
	float: left;
}
.naver:nth-of-type(2) li{
	border-bottom: 1px solid #ddd;
	margin: 0 1rem;
	padding: 1rem 0;
	overflow: hidden;
}
.naver:nth-of-type(2) li a{
	display: block;
	overflow: hidden;
	line-height: 31px;
}
.naver:nth-of-type(2) li span{
	font-size: 15px;
	margin-left: 2%;
}
.naver:nth-of-type(2) li i{
	float: right;

}

/* 意见反馈/关于我们/呼叫客服 */
.naver:nth-of-type(3) li{
	border-bottom: 1px solid #ddd;
	margin: 0 1rem;
	padding: 1rem 0;
	overflow: hidden;
}
.naver:nth-of-type(3) li a{
	display: block;
	overflow: hidden;
	line-height: 31px;
}
.naver:nth-of-type(3) li span{
	font-size: 15px;
	margin-left: 2%;
}
.naver:nth-of-type(3) li p{
	float: right;
    font-style: normal;
    color: #666;
    margin-right: 2%;
}
.naver:nth-of-type(3) li i{
	float: right;
}

/* --------------------------底部导航栏------------------------- */

